/* FontAwesome for working BootSnippet :> */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.site-title a {
    text-decoration: none;
}

.breadcrumb{
    padding:10px 10px 10px 0px !important;
    width: 964px;
    margin: 0 auto 1rem;
    float: none;
}

.breadcrumb>li {
    font-size: 13px;
    display: inline-block;
}

.breadcrumb>li:first-child {
    margin-left: 10px
}

.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}

.breadcrumb a {
    font-weight: 600;
    text-decoration: none;
}

.breadcrumb a:hover {
    color: #0056b3 !important;
}

.breadcrumb a:visited {
    color: rgb(0,153,255);
}

#memoria-azul {
    background: #eee !important;
}

#memoria-azul.doc-data {
    padding-bottom: 0 !important;
}

#memoria-azul.doc-data .card {
    margin: 30px 0;
}

#memoria-azul.doc-data .card .thumb {
    float: left;
    margin-right: 1rem;
    margin-bottom: 0;
}

#memoria-azul.doc-data .card .card-body span {
    /* color: #007b5e !important; */
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

#memoria-azul.doc-data .card .card-body .card-text {
    font-size: 14px;
}

#memoria-azul.doc-data .card .card-body .card-text a {
    font-weight: normal;
}

#memoria-azul .card .card-body .paragraph {
    color: #666;
    font-style: italic;
    margin-bottom: 8px;
}

#memoria-azul .doc-meta a {
    text-decoration: none;
}

#memoria-azul .doc-meta .card .card-body .card-text {
    margin-bottom: 8px;
}

#memoria-azul.doc-data .card div.meta div:last-child {
    margin-top: 1rem;
}

.site-header {
    margin-top: 4em;
}

.btn-primary:hover,
.btn-primary:focus {
    /* background-color: #108d6f !important; */
    /* border-color: #108d6f !important; */
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff !important;
    /* background-color: #007b5e !important; */
    /* border-color: #007b5e !important; */
}

section {
    /* padding: 60px 0; */
}

section .section-title {
    text-align: center;
    color: #248dc1;
    /* color: #007b5e; */
    margin-bottom: 50px;
    text-transform: uppercase;
}

#memoria-azul .card {
    border: none;
    background: #ffffff;
}

.image-flip {
    cursor: pointer;
}

/* .image-flip:hover .backside, */
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

/* .image-flip:hover .frontside, */
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.doc,
.doc-meta,
.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
    width: 100%;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    width: 100%;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.doc .card {
    min-height: 312px;
}

.frontside .card,
.backside .card {
    height: 321px;
}

.backside .card a {
    font-size: 18px;
    color: #007b5e !important;
}

.doc .card a.full-text:hover {
    text-decoration: none;
}

.card-title {
    /* color: #007b5e !important; */
    color: #248dc1 !important;
}

.doc .card .card-title {
    padding-top: .75rem;
}

.frontside .card .card-title {
    padding: 0;
}

.backside .card .card-title {
    font-size: 20px;
    margin-bottom: 8px;
}

.backside .card .card-text {
    font-size: 14px;
    /* background: -webkit-gradient(linear, left bottom, left top, from(#fff), to(#000)); */
    /* background: -moz-linear-gradient(bottom, #fff, #000); */
    /* background: -o-linear-gradient(bottom, #fff, #000); */
    /* -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
}

.backside .card .card-body {
    overflow: hidden;
    padding: 0;
    margin: 20px;
}

.frontside .card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
}

.frontside .card .card-body img {
    /* width: 120px; */
    /* height: 120px; */
    max-width: 120px;
    max-height: 120px;
    border-radius: 50%;
}

.backside ul.list-inline {
    display: none;
}

.h-label {
    margin-bottom: 30px;
}

.load-more {
    margin: 2em auto 0;
}

.load-more a,
.load-more a:visited {
    outline: 0;
    color: #33739E;
    text-decoration: none;
    display: block;
    margin: 10px 0;
}

.load-more a:hover {
    text-decoration: none;
}

.loadmore-last {
    display: none;
}

.totop {
    position: fixed;
    bottom: 10px;
    right: 20px;
}

.totop a {
    outline: 0;
    display: none;
}

#loadMore {
    padding: 10px;
    text-align: center;
    background-color: #33739E;
    color: #fff;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #fff;
    box-shadow: 0 1px 1px #ccc;
    transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
}

/* Search bar (header) */
.searchBarMain {
	background: #fff;
	width: 80%;
	max-width: 680px;
	margin: 0 auto;
	height: 42px;
	margin-top: 11px;
	border-radius: 2px;
	box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.14);
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	position: fixed;
	left: 0;
	right: 0;
	top: 0
}

.searchBarMain i.searchBarSearchIcon {
	height: 100%;
	line-height: 42px;
	float: left;
	width: 52px;
	text-align: center;
	color: rgba(68, 68, 68, 0.5);
}

.searchBarMain input#searchBarInput {
	height: 42px;
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
	background: transparent;
	width: calc(100% - 52px);
	outline: none;
	padding-right: 32px;
	font-size: 15px;
	color: rgba(0, 0, 0, 0.76);
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
}

.searchBarMain i.clearSearchBarField {
	position: absolute;
	right: 12px;
	top: 11px;
	color: rgba(0, 0, 0, 0.84);
	display: none;
	font-size: 20px;
}

.searchBarMain i.clearSearchBarField:hover {
	cursor: pointer;
}

/* Disable selection with class "noUserSelect" */
.noUserSelect {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Page header (Top bar) */
.page-header {
	width: 100% !important;
	position: fixed;
	background: #6472cd;
	top: 0;
    left: 0;
	z-index: 500;
	height: 64px;
	max-height: 64px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

/* Placeholder */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #a9a9a9;
    font-style: italic;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #a9a9a9;
    font-style: italic;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #a9a9a9;
    font-style: italic;
}
:-moz-placeholder { /* Firefox 18- */
    color: #a9a9a9;
    font-style: italic;
}

/* PAGINATION */
.pagination {
    display: block;
}

.pagination ul {
    margin: 0 20px;
}

.pagination a:focus,
.pagination a:hover {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline: none;
}

.pagination-centered {
    text-align: center;
}

.pagination ul {
    display: inline-block;
    margin-bottom: 0;
    margin-left: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    padding: 0;
}

.pagination ul > li {
    display: inline;
    line-height: 20px;
}

.pagination ul > li > a:hover, .pagination ul > li > a:focus, .pagination ul > .active > a, .pagination ul > .active > span {
    background-color: #f5f5f5;
}

.pagination ul > li > a, .pagination ul > li > span {
    float: left;
    padding: 7px 9px;
    line-height: 20px;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-left-width: 0;
}

.pagination ul > .disabled > span, .pagination ul > .disabled > a, .pagination ul > .disabled > a:hover, .pagination ul > .disabled > a:focus {
    color: #999999;
    cursor: default;
    background-color: #ffffff;
}

.pagination ul > li > a:hover, .pagination ul > li > a:focus, .pagination ul > .active > a, .pagination ul > .active > span {
    background-color: #f5f5f5;
}

.pagination ul > .active > a, .pagination ul > .active > span {
    color: #999999;
    cursor: default;
}

.pagination ul > li:first-child > a, .pagination ul > li:first-child > span {
    border-left-width: 1px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-topleft: 4px;
}

/* Media Queries */
@media only screen
and (min-device-width : 1025px) {
    #loadMore:hover {
        background-color: #fff;
        color: #33739E;
    }
}

@media only screen
and (min-device-width : 813px) {
    .image-flip:hover .backside {
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        transform: rotateY(0deg);
        border-radius: .25rem;
    }

    .image-flip:hover .frontside {
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }

    #memoria-azul.doc-data .card div.meta {
        display: table;
    }

    #memoria-azul.doc-data .card div.meta div {
        display: table-cell;
        width: 50%;
    }

    #memoria-azul .doc-meta .btn-meta {
        display: none;
    }
}

@media only screen
and (max-device-width : 812px) {
    #memoria-azul.doc-data .card .thumb {
        width: 100%;
        text-align: center;
        margin-bottom: 1rem;
        margin-right: 0;
    }

    #memoria-azul .doc-meta .btn-details {
        display: none;
    }

    #memoria-azul .doc-meta .btn-meta {
        display: table;
        margin: 0 auto;
    }

    .breadcrumb {
        display: none;
    }
}
