body {
    background: #1a80cc url(<?php echo EBLUEINFO_PLUGIN_URL; ?>template/images/logo_home2.png) top center no-repeat;
}

.h4 {
    color: #fff;
    font-variant: petite-caps;
}

hr {
    border: 0px !important;
}

.row {
    background: #1e567e !important;
    margin-top: 120px;
}

.app-title {
    display: none;
}

.mobile {
    display: block;
	margin-bottom: 50px;
}

.countries {
    display: none;
    width: 100%;
}

.countries-list {
	width: 100%;
}

.languages {
    width: 100%;
}
