if (navigator.userAgent.indexOf('gonative') > -1) {
  if ( eblueinfo_script_vars.languages ) {
    var json = [
                  {
                    "url": eblueinfo_script_vars.home,
                    "label": eblueinfo_script_vars.home_label,
                    "subLinks": []
                  },
                  {
                    "label": eblueinfo_script_vars.lang_label,
                    "grouping": "[grouping]",
                    "isGrouping": true,
                    "isSubmenu": false,
                    "subLinks": [
                      {
                        "url": eblueinfo_script_vars.languages.pt.url,
                        "label": eblueinfo_script_vars.languages.pt.label,
                        "subLinks": []
                      },
                      {
                        "url": eblueinfo_script_vars.languages.es.url,
                        "label": eblueinfo_script_vars.languages.es.label,
                        "subLinks": []
                      },
                      {
                        "url": eblueinfo_script_vars.languages.en.url,
                        "label": eblueinfo_script_vars.languages.en.label,
                        "subLinks": []
                      }
                    ]
                  }
                ];
  } else {
    var json = [
                  {
                    "url": eblueinfo_script_vars.home,
                    "label": eblueinfo_script_vars.home_label,
                    "subLinks": []
                  }
                ];
  }

  var items = JSON.stringify(json);

  window.location.href='gonative://sidebar/setItems?items=' + encodeURIComponent(items);
}
